# vcs
.git/
.gitignore
.gitattributes

# build output
/bin
/dist

# ci
.github/

# tooling
taskfile.yaml
.goreleaser.yaml

# editor
.idea/
.vscode/
.zed/

# env
.env
.env.*

# docker
.dockerignore
Dockerfile*
docker-compose*

# test and coverage output
**/*.test
**/*.out

# documentation
**/*.md

# misc
**/.DS_Store
